---
import AboutDescription from '@components/organism/AboutDescription.astro'
import RoundIcon from '@components/organism/RoundIcon.astro'
---

<div class="container">
  <div class="icon">
    <RoundIcon size="100%" maxSize="400px" />
  </div>
  <AboutDescription />
</div>

<style>
  .container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
</style>
