---
import { getEntry } from 'astro:content'
import Subtitle from '@components/organism/Subtitle.astro'

const interest = await getEntry('portfolio', 'interest')
if (!interest) throw new Error('Interest not found')

const { Content } = await interest.render()
---

<div class="container">
  <Subtitle title="Interest" />
  <div class="markdown">
    <Content />
  </div>
</div>

<style>
  .container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
  }
  .markdown {
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 900px;
  }
</style>
