---
import About from "@components/ecosystem/About.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="" location="/">
  <main>
    <About />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
</style>
