---
import MazreanIcon from "@components/molecule/MazreanIcon.astro";
import Logo from "@components/molecule/Logo.astro";
---

<div class="icon">
  <MazreanIcon size="50px" />
  <Logo />
</div>

<style>
  .icon {
    display: inline-flex;
    align-items: center;
    gap: 0 10px;
  }
</style>
