---
import MazreanIcon from "@components/molecule/MazreanIcon.astro";
import Logo from "@components/molecule/Logo.astro";
---

<div class="site-icon">
  <MazreanIcon class="icon" size="50px" />
  <Logo />
</div>

<style>
  @media screen and (max-width: 425px) {
    .icon {
      display: none;
    }
  }
  .site-icon {
    display: inline-flex;
    align-items: center;
    gap: 0 0.4rem;
  }
</style>
