---
import '@fontsource/inter/400.css'
import '@fontsource/inter/700.css'
import '@fontsource/noto-sans-jp/400.css'
import '@fontsource/noto-sans-jp/700.css'

import Header from '@components/ecosystem/Header.astro'
interface Props {
  location: string
  title: string
}

const { location, title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? title + "|Mazrean's Portfolio" : "Mazrean's Portfolio"}
    </title>
  </head>
  <body>
    <header>
      <Header location={location} />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import '../styles/reset.css';
  body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
  }

  :root {
    --background: #f8f8fa;
    --accent: #111f4d;
    --text: #5f5f5f;
  }
  html {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    font-size: 24px;
    background: var(--background);
    color: var(--text);
  }
  @media screen and (max-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--accent);
  }

  main {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 30px;
  }
</style>
